<!DOCTYPE html>
<html>
<body>

<div class="bgimg">
  <div class="topleft">
    <p>SocialBook Thành Đạt</p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <%= link_to "Sign Up" , new_user_registration_path %>
    <hr>
    <%= link_to "Sign In" , new_user_session_path %>

  </div>
  <div class="bottomleft">
    <p>Some text</p>
  </div>
</div>

</body>
</html>
